h1 {
color:hotpink;
font-family:verdana;
font-size:48px;
}

h2{
color:#ff7ad3;
font-family:Savoye LET;
font-size:76px;
}

p{
color:white;
font-family:STLiti;
font-size:20px;
background-color:#ff78a9;
border-style:outset;
border-with:40px;
padding:20px;
}
